[Unit]
Description=Weakbackup
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker start WB-promtail
ExecStart=/usr/bin/docker start WB-restic

[Install]
WantedBy=multi-user.target