[Unit]
Description=Weakbackup
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start WB-restic

[Install]
WantedBy=local.target